<div class="wrap">
    <ng-template #loginModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5 class="text-center" *ngIf="LoginModalService.getNeedLogin()">You need to be logged in!</h5>
            <form   [formGroup]="loginForm">
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="loginField" type="text"  placeholder="Username or email" >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="passwordField" type="password"  placeholder="Password" >
                    </md-input-container>
                </div>
                <div class="errors" *ngIf="error">
                    {{error}}
                </div>
            </form>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success login-btn"  [disabled]="!loginForm.valid" (click)="login()">Login</button>
            <span style = "padding: 30px; font-weight: 600;">Or</span>
            <button type="button" class="btn btn-success"  *ngIf="!isUserLogged" (click)="LoginModalService.openRegisterModal();">Register</button>
        </div>
    </ng-template>
    <ng-template #registerModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form   [formGroup]="registerForm">
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="usernameField" type="text"  placeholder="Username" >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="emailField" type="email"  placeholder="Email" >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="passwordField" type="password"  placeholder="Password" >
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input mdInput  formControlName="passwordRepeatField" type="password" (change)="comparePasswords()"   placeholder="Password repeat" >
                    </md-input-container>
                </div>

                <div class="errors" *ngIf="registerErrors">
                    {{registerErrors}}
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-success register-btn" [disabled]="!registerForm.valid" (click)="register()">Register</button>
    </ng-template>
    <ng-template #infoModal let-c="close" let-d="dismiss" >
        <div id="infoModal">
            <div class="modal-header">
                <h4 class="modal-title">{{this.LoginModalService.infoModalText}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
            <div class="modal-body text-center">

                <span class="fa fa-exclamation-triangle fa-5 error" aria-hidden="true" *ngIf="!this.LoginModalService.infoModalNoErrors"></span>
                <span class="fa fa-check-circle fa-5 success" aria-hidden="true" *ngIf="this.LoginModalService.infoModalNoErrors"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="c('Close click')">Close</button>
            </div>
        </div>
    </ng-template>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">CVBuilder</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item " routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/builder">Builder</a>
                </li>
                <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/resumes">Resumes</a>
                </li>
                <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="/news">News</a>
                </li>

            </ul>
            <ul class="navbar-nav " style = "    width: 100%;justify-content: flex-end;">
                <li class="nav-item"  *ngIf="!isUserLogged" >
                    <a class="loginModal-btn nav-link "  (click)="LoginModalService.openLoginModal()">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isUserLogged">
                    <a class="registerModal-btn nav-link"  (click)="LoginModalService.openRegisterModal()">Register</a>
                </li>
                <li class="nav-item" *ngIf="isUserLogged">
                    <a  class=" username-block  nav-link"  >{{UserHttpService.getUsername()}} <a (click)="logout()">Logout</a></a>
                </li>
            </ul>
        </div>

        <div class="dropdown show" *ngIf="user">
            <span class="  dropdown-toggle"  id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
            </span>

            <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                <a class="dropdown-item" href="#">My ...</a>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>