.item {
    display:block;
    color: #121212;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-bottom:15px;
    float:left;
    width: 100%;
}
.item:hover{
    text-decoration: none;
    box-shadow:2px 2px 5px rgba(179, 179, 179, 0.68)
}
.item:hover h2{
    text-decoration: underline;
}
.item:visited {
    color: #121212;
}
.post-block{
    padding-top:15px;
    padding-bottom:15px;
}
.news-block{
    padding-bottom: 10px;
    border-bottom: 1px solid #2c81d4;
}
.blue-title{
    color: #2c81d4;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2c81d4;
}