@page {
	size: A4;
	margin: 0;
}
:host{
/*	margin:30px auto;*/
}
.template{
	width:21cm;
	min-height:29.7cm;
}
.template-1 .aside{
	word-break: break-all;
	background-color: #5f497a;
	color:#fff;
}
.aside, .content{
	min-height: 29.7cm;
}
.template-1 .content{
	color:#333;
}
.template-1 .title{
	font-size:52px;
}
.template-1 .aside .title{color:#fff}
.template-1  .title{
	padding-bottom:30px;
	padding-top:30px;
}
.template-1  .aside .contacts>span{
	display:block;
	padding:3px 3px 3px 10px;
	font-size:14px;
}
.template-1  .aside>div:not(.title, .profile-img){
	padding-left: 5px;
	font-size:14px;
}
.aside .contacts{
	padding-top:20px;
}
.content h2, .content .date{
	color:#5f497a;
}
.content .date{
	text-align: right;
	font-weight: bold;
	font-size: 18px;
}
.content{
	padding-left:25px;
}
.agreement.infoBlock{
	font-size:12px;
	padding:15px 0;
}
.infoBlock{
	padding:10px 0;
}
.infoBlock>h2{
	padding:10px 0;
}
.infoBlock>div{
	padding-left:20px;
}
.content .company-name, .content .university-name{
	font-size: 22px;
	text-transform: capitalize;
}